.vs/ToolExportVideo.API/FileContentIndex/6b6ec703-b341-46db-bb6e-595ef7c9e955.vsidx
.vs/ToolExportVideo.API/FileContentIndex/306c4d4e-65f8-4cc8-a05c-53e9f31365ee.vsidx
.vs/ToolExportVideo.API/FileContentIndex/796aa9d1-9875-4901-876c-c20eb667c17f.vsidx
.vs/ToolExportVideo.API/FileContentIndex/8f72146c-14a1-4229-ab21-a7d0a1c0044e.vsidx
.vs/ToolExportVideo.API/FileContentIndex/bdd9d692-5a73-410d-8f9d-9cda35df9c73.vsidx
